<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/92016972-97ed-4588-9cce-bf1e982ea782/resourcegroups/ProjetoFinalRDI/providers/Microsoft.Web/sites/ProjetoFinalRDI20220706143107</ResourceId>
    <ResourceGroup>ProjetoFinalRDI</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://projetofinalrdi20220706143107.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d8b1e1e6-33c2-4b23-aab6-2309e1b3c447</ProjectGuid>
    <PublishUrl>https://projetofinalrdi20220706143107.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ProjetoFinalRDI20220706143107</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>